.absent-product {
  width: 80%;
  height: 300px;
  margin: auto;
  align-self: left;
  justify-self: left;
  border: 4px double pink;
}

.absent-product p {
  color: pink;
  font-size: 36px;
  width: 80%;
  text-align: center;
  margin: 10px auto;
}

.absent-product-img img {
  width: 150px;
  height: 130px;
  display: block;
  margin: 20px auto;
}

@media (max-width: 1230px) {
  .absent-product p {
    font-size: 30px;
  }
}

@media (max-width: 650px) {
  .absent-product-img img {
    width: 100px;
    height: 100px;
  }
  .absent-product p {
    font-size: 24px;
  }
}

@media (max-width: 375px) {
  .absent-product p {
    font-size: 18px;
  }
}
