.contacts-wrapper {
  min-height: 75vh;
  position: relative;
}

.contacts-wrapper {
  display: flex;
  font-display: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contacts-wrapper h2 {
  position: absolute;
  padding: 10px 20px;
  font-size: 72px;
  margin-left: 10px;
  border: 4px double grey;
}
.contacts-inf {
  margin-top: 250px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  background: pink;
  padding: 50px 40px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-top: 8px double white;
  border-left: 8px double white;
  border-right: 8px double white;
}

.contacts-inf__address,
.contacts-inf__phone,
.contacts-inf__email {
  display: flex;
  align-items: center;
  gap: 2vw;
  font-style: italic;
  font-size: 21px;
}

.contacts-map {
  margin-top: 150px;
  margin-right: 5vw;
}
.contacts-map__google-map {
  width: 600px;
  height: 450px;
}

@media (max-width: 1500px) {
  .contacts-map {
    margin-top: 300px;
    margin-right: 2vw;
  }
  .contacts-map__google-map {
    width: 500px;
    height: 350px;
  }
  .contacts-inf__address,
  .contacts-inf__phone,
  .contacts-inf__email {
    font-size: 18px;
  }
}

@media (max-width: 1250px) {
  .contacts-wrapper h2 {
    font-size: 48px;
    top: 50px;
    left: 20%;
  }
  .contacts-inf {
    margin-top: 200px;
    width: 100%;
    margin-left: 0;
    border: 0;
    border-radius: 0;
    padding: 30px 20%;
  }
  .contacts-map {
    margin: 0;
    padding: 20px 0;
    background-color: pink;
  }
  .contacts-map__google-map {
    width: 100vw;
    height: 500px;
  }
}

@media (max-width: 1200px) {
  .contacts-wrapper h2 {
    font-size: 36px;
    left: 0;
  }
}

@media (max-width: 850px) {
  .contacts-wrapper h2 {
    position: relative;
    display: block;
    margin: auto;
  }
}

@media (max-width: 600px) {
  .contacts-inf {
    margin-top: 70px;
    padding: 20px;
  }
}
@media (max-width: 500px) {
  .contacts-wrapper h2 {
    font-size: 24px;
  }
  .contacts-inf__address-img img,
  .contacts-inf__phone-img img,
  .contacts-inf__email-img img {
    width: 32px;
    height: 32px;
  }
  .contacts-inf__address,
  .contacts-inf__phone,
  .contacts-inf__email {
    font-size: 16px;
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 360px) {
  .contacts-wrapper h2 {
    font-size: 21px;
  }
}
