.footer {
  color: white;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  min-height: 10vh;
  bottom: 0;
  background-color: #ffc0cb;
}

.footer-text {
  font-size: 20px;
  font-weight: 600;
}
